/* headline start */



.headline {
    background-image: url('../img/expertise-headline.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
}

.headline-text {
    padding-left: 30px;
    border-left: solid;
    border-left-width: 6px;
    border-left-color: #242E81;
    padding-bottom: 10px;
    color: white;
}

.headline-text h3 {
    font-family: "Open Sans", serif;
    font-size: 32px;
    line-height: 32px;
    margin: 0px 0px 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.headline-text p {
    font-family: "Open Sans", serif;
    font-size: 14px;
    line-height: 22.4px;
    margin: 0px 0px 14px;
    font-weight: 400;
}



/* headline end */



.text {
    font-family: "Open Sans", serif;
    max-width: 1100px;
    margin: auto;
}

.text h2 {
    color: #333333;
    font-size: 32px;
    line-height: 45.5px;
    margin:0px 0px 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.text p {
    color: #4A4A4A;
    font-size: 14px;
    line-height: 22.4px;
    margin: 0px 0px 14px;
    font-weight: 400;
}

.below-text .bt1 {
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', serif;
}

@media (max-width: 1000px) {
    .below-text .bt1 {
        flex-direction: column;
    }
}

.below-text .bt1 h3 {
    color: #202F83;
    font-size: 35px;
    line-height: 38.5px;
    margin: 0px 0px 10px;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 1000px) {
    .below-text .bt1 .conclusion {
        text-align: center;
    }
}

.below-text .bt1 p {
    color: #4A4A4A;
    font-size: 14px;
}

.below-text .bt1 a {
    background-color: #242e81;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 21px;
    font-weight: 600;
    margin: 0px 10px 30px 0px;
    padding: 8px 20px;
    border-width: 0px;
}

.below-text .bt1 .conclusion {
    margin: 3%;
}

.work-stages {
    background-color: #14112C;
    color: #FFFFFF;
    font-family: 'Open Sans', serif;
    padding: 3% 10% 3% 10%;
}

.work-stages .moveleft {
    margin-left: 5%;
}

@media (max-width:1000px) {
    .work-stages .moveleft {
        margin-left: 7%;
    }
}

.work-stages .section-header h2 {
    text-transform: uppercase;
    font-size: 35px;
    margin: 0px 0px 7px;
    font-weight: 700;
    margin-bottom: 5%;
}

.work-stages .stage {
    background-color: #1D1A37;
    padding-top: 3%;
    padding-bottom: 0.5%;
    margin: 5px;
    color: #CCCCC2;
    margin-left: 4%;
    margin-right: 4%;
    min-height: 140px;
}

.work-stages .stage .stage-img {
    position: relative;
    float: left;
    left: -14%;
    top: -14%;
    width: 50px;
}

@media (max-width:1100px) {
    .work-stages .stage .stage-img {
        left: -20%;
    }
}

@media (max-width:1000px) {
    .work-stages .stage .stage-img {
        top: 10%;
        left: -23%;
    }
}

.work-stages .stage .stage-img .first {
    max-width: 95px;
    left: 0%;
}

.work-stages .stage .stage-img .second {
    position: absolute;
    max-width: 80px;
    top: 8%;
    left: 15%;
    opacity: 0;
    transition: opacity 0.2s;
    border-radius: 50%;
}

.work-stages .stage:hover .stage-img .second {
    opacity: 1;
}

.work-stages .stage .stage-text {
    margin-left: 0%;
    margin-bottom: 5%;
}

@media (max-width:1000px) {
    .work-stages .stage .stage-text {
        padding: 6% 0% 0% 10%;
    }
}

.work-stages .stage .stage-text h3 {
    font-size: 17.5px;
    line-height: 24.5px;
    text-transform: uppercase;
    font-weight: 400;
}

.work-stages .stage .stage-text p {
    font-size: 14px;
    line-height: 22.4px;
    font-weight: 400;
    vertical-align: text-top;
}