body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-fluid {
    padding-left: 0rem;
    padding-right: 0rem;
}

.container {
    max-width: 1100px;
}

.row {
    padding-right: 0px;
    margin-right: 0px;
}

.success-alert {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: fixed;
    z-index: 4000;
    top: 20%;
    left: 38%;
    animation-name: fadeOutOpacity;
    animation-timing-function: ease-out;
    animation-delay: 3000ms;
    animation-duration: 5s;
    opacity: 1;
}

@keyframes fadeOutOpacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.top-bar {
    color: #202F83;
    font-family: "Open Sans", serif;
}

.top-bar .top-bar-img a {
    display: flex;
    float: right;
}

.top-bar .top-bar-img img {
    width: 80%;
    height: auto;
    padding-top: 5%;
    margin: auto;
}

@media (min-width: 1000px) and (max-height: 768px) {
    .top-bar .top-bar-img a img {
        width: 30vh;
    }
}

.top-bar .phone-and-email {
    margin-top: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    color: #202F83;
}

@media (max-width: 900px) {
    .top-bar .phone-and-email {
        justify-content: center;
    }
}

.top-bar .phone-and-email img {
    width: 20px;
}

@media (max-width: 900px) {
    .top-bar .phone-and-email img {
        display: none;
    }
}

@media (min-width: 900px) {
    .top-bar .phone-and-email .mail {
        justify-content: baseline;
        text-align: left;
    }
}

.top-bar .phone-and-email a {
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #202F83;
}

@media (min-width: 900px) {
    .top-bar .phone-and-email a {
        align-items: baseline;
    }
}

@media (max-width: 900px) {
    .top-bar .phone-and-email a {
        display: inline-block;
        text-align: center;
    }
}

.top-bar .phone-and-email a p {
    margin: 0%;
}

.top-bar .phone-and-email .link {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.top-bar .phone-and-email .link:hover {
    color: #000000;
    text-decoration:underline;
}

@media (max-width: 767px) or (min-width: 900px) {
    .top-bar .phone-and-email .link br {
        display: none;
    }
}

.top-bar .email {
    border-left: solid;
    border-left-width: 1px;
    border-left-color: #9AA1C7;
}

@media (max-width: 900px) {
    .top-bar .email {
        border-left-width: 0px;
        border-right-width: 0px;
    }
}

.top-bar .socials a svg {
    width: 40px;
    border-radius: 50%;
    color: #242E81;
    transition: 0.3s;
}

.top-bar .socials a svg:hover {
    color: #000000;
}

@media (max-width:1000px) {
    .top-bar .socials {
        text-align: center;
        margin:20px;
    }
}

/* top-bar end*/



/*nav-bar start*/

.navbar {
    background-color: #242e81 !important;
    padding: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

@media (max-width:1000px) {
    .navbar-nav{
        display: inline;
    }
}

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-family: "helvetica";
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 0px;
}

@media (max-width:1100px) {
    .navbar a {
        margin-top: 15px;
    }
}

.navbar a:hover {
    color: #FFFFFF;
}

.navbar-toggler {
    margin-left: 92%;
}

@media (max-width:500px) {
    .navbar-toggler {
        margin-left: 85%;
    }
}

.navbar .navbar-custom .navbar-toggler {
    border-width: 0px;
    color: #ffffff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 2em;
    height: 2em;
    box-shadow: none;
}

/* navbar end */

.pic-line {
    background-image: url('../img/expertise-main.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
}

.pic-line .pic-line-text {
    padding-left: 30px;
    border-left: solid;
    border-left-width: 6px;
    border-left-color: #242E81;
    padding-bottom: 10px;
}

.pic-line h3 {
    font-family: "Open Sans", serif;
    font-size: 32px;
    line-height: 32px;
    margin: 0px 0px 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.pic-line p {
    font-family: "Open Sans", serif;
    font-size: 14px;
    line-height: 22.4px;
    margin: 0px 0px 14px;
    font-weight: 400;
}

.text {
    font-family: "Open Sans", serif;
    max-width: 1100px;
    margin: auto;
}

.text h2 {
    color: #333333;
    font-size: 32px;
    line-height: 45.5px;
    margin:0px 0px 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.text p {
    color: #4A4A4A;
    font-size: 14px;
    line-height: 22.4px;
    margin: 0px 0px 14px;
    font-weight: 400;
}

.below-text .bt1 {
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', serif;
}

@media (max-width: 1000px) {
    .below-text .bt1 {
        flex-direction: column;
    }
}

.below-text .bt1 h3 {
    color: #202F83;
    font-size: 35px;
    line-height: 38.5px;
    margin: 0px 0px 10px;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 1000px) {
    .below-text .bt1 .conclusion {
        text-align: center;
    }
}

.below-text .bt1 p {
    color: #4A4A4A;
    font-size: 14px;
}

.below-text .bt1 a {
    background-color: #242e81;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 21px;
    font-weight: 600;
    margin: 0px 10px 30px 0px;
    padding: 8px 20px;
    border-width: 0px;
}

.below-text .bt1 .conclusion {
    margin: 3%;
}

.work-stages {
    background-color: #14112C;
    color: #FFFFFF;
    font-family: 'Open Sans', serif;
    padding: 3% 10% 3% 10%;
}

.work-stages .moveleft {
    margin-left: 5%;
}

@media (max-width:1000px) {
    .work-stages .moveleft {
        margin-left: 7%;
    }
}

.work-stages .section-header h2 {
    text-transform: uppercase;
    font-size: 35px;
    margin: 0px 0px 7px;
    font-weight: 700;
    margin-bottom: 5%;
}

.work-stages .stage {
    background-color: #1D1A37;
    padding-top: 3%;
    padding-bottom: 0.5%;
    margin: 5px;
    color: #CCCCC2;
    margin-left: 4%;
    margin-right: 4%;
    min-height: 140px;
}

.work-stages .stage .stage-img {
    position: relative;
    float: left;
    left: -14%;
    top: -14%;
    width: 50px;
}

@media (max-width:1100px) {
    .work-stages .stage .stage-img {
        left: -20%;
    }
}

@media (max-width:1000px) {
    .work-stages .stage .stage-img {
        top: 10%;
        left: -23%;
    }
}

.work-stages .stage .stage-img .first {
    max-width: 95px;
    left: 0%;
}

.work-stages .stage .stage-img .second {
    position: absolute;
    max-width: 80px;
    top: 8%;
    left: 15%;
    opacity: 0;
    transition: opacity 0.2s;
    border-radius: 50%;
}

.work-stages .stage:hover .stage-img .second {
    opacity: 1;
}

.work-stages .stage .stage-text {
    margin-left: 0%;
    margin-bottom: 5%;
}

@media (max-width:1000px) {
    .work-stages .stage .stage-text {
        padding: 6% 0% 0% 10%;
    }
}

.work-stages .stage .stage-text h3 {
    font-size: 17.5px;
    line-height: 24.5px;
    text-transform: uppercase;
    font-weight: 400;
}

.work-stages .stage .stage-text p {
    font-size: 14px;
    line-height: 22.4px;
    font-weight: 400;
    vertical-align: text-top;
}

.contacts {
    padding: 20px;
}

.contacts .contacts-container {
    max-width:1300px;
}

.contacts .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts .article-header h3 {
    font-family: "Open Sans", serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #33428E; 
    text-shadow: 3px 3px 6px #c6c6c6;
    text-transform: uppercase;
}

.contacts p {
    font-family: "Open Sans", serif;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.contacts p #bold {
    font-weight: 700;
}

.contacts .right-border {
    border-right: solid;
    border-right-width: 1px;
    border-right-color: #eeeeee;
}

@media (max-width:1000px) {
    .contacts .right-border {
        border-right-width: 0px;
    }
}

.contacts .links {
    margin: 8%;
}

.contacts .links a img {
    margin-top: 12%;
}

.contacts .links .link {
    margin-bottom: 12%;
}

.contacts .links .link br {
    display: none;
}

@media (min-width: 800px) and (max-height: 450px) {
    .contacts .links .link br {
        display: block;
    }
}

@media (min-width: 767px) and (min-height: 1000px) {
    .contacts .links .link br {
        display: block;
    }
}

@media (orientation: landscape) {
    .contacts .links .link br {
        display: block;
    }
}

.contacts a img {
    width: 50px;
    margin: 5%;
}

.contacts .text a {
    font-family: "Open Sans", serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #3A4AA1;
}

.contacts .link a {
    font-family: "Open Sans", serif;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #3A4AA1;
    text-decoration: none;
}

.contacts .link a:hover {
    text-decoration: underline;
}

.contacts .feedback {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contacts .feedback h3 {
    font-family: "Open Sans", serif;
    color: #0D195E;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.6px;
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #eeeeee;
}

.contacts .feedback .form {
    width: fit-content;
    max-width: 500px;
}

.contacts .feedback form .submit {
    background-color: #242e81;
    color: #FFFFFF;
    padding: 15px 20px;
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    font-family: "Open Sans", serif;
    border-width: 0px;
}

.warning {
    display: flex;
}

.contacts #agreementModal {
    z-index: 1300;
}

@media (max-width: 1200px) {
    .contacts #agreementModal {
        max-height: 80vh;
    }
}

@media (max-width: 950px) and (max-height: 700px) {
    .contacts #agreementModal {
        max-height: 100vh;
    }
}

.agreement-modal-btn {
    background-color: #ffffff;
    border-width: 0px;
    font-family: "Open Sans", serif;
    color: #919191;
    font-size: 11px;
    line-height: 11px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: left;
}

.contacts .agreement-modal-dialog p {
    color: #0D195E;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
}

.contacts .agreement-modal-header button {
    background-color: #202F83;
    opacity: 0.4;
    border-radius: 50%;
    color: #FFFFFF;
}

.contacts .agreement-modal-body {
    scroll-behavior: smooth;
}

.contacts .agreement-modal-body .modal-title {
    font-size: 16px;
    margin-bottom: 0%;
}

.contacts .agreement-modal-body .exit-button {
    position: sticky;
    left: 90%;
    top: 3%;
    width: 1px;
    height: 1px;
    background-color: rgba(255, 0, 0, 0);
    border-width: 0px;
    border-radius: 50%;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}

.contacts #agreementModal .agreement-modal-body p #agreement-modal-header-break-line {
    display: none;
}

@media (max-width: 450px) {
    .contacts #agreementModal .agreement-modal-body p #agreement-modal-header-break-line {
        display: block;
    }
}

.contacts .agreement-modal-body .exit-button img {
    width: 35px;
    border-radius: 50%;
    animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
    opacity: 0.6;
}

.contacts .agreement-modal-body .exit-button img:hover {
    opacity: 1;
    transition: 0.5s;
}

.contacts .agreement-modal-footer {
    height: 100px;
}

.contacts .agreement-modal-link {
    width: 100%; 
    height: 100%;
    display: flex; 
    justify-content: center;
    text-decoration: none;
}

.contacts .agreement-modal-footer {
    display: flex;
}

.contacts .agreement-modal-footer .footer_not_scrolled_down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contacts .agreement-modal-footer .footer_not_scrolled_down .agreement-modal-link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contacts .agreement-modal-footer .footer_not_scrolled_down p {
    color: #202F83;
    font-family: "Open Sans", serif;
    font-size: 15px;
    margin-top: 12%;
    text-align: center;
    margin-bottom: 0%;
}

.contacts .agreement-modal-footer .footer_not_scrolled_down img {
    width: fit-content;
    height: 30px;
    margin-top: 3%;
    margin-bottom: 15%;
}

@keyframes fadein {
    from { opacity: 0.2; }
    to { opacity: 1; }
}

.contacts .agreement-modal-footer .footer_not_scrolled_down img {
    animation: fadein 0.8s ease-in alternate infinite;
}

.contacts .agreement-modal-footer .footer_scrolled_down {
    width: 100%;
}

.contacts .agreement-modal-footer .footer_scrolled_down .btn {
    width: 47%;
    padding: 3%;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans', 'serif';
    margin: 1%;
}

.contacts .agreement-modal-footer .footer_scrolled_down .agreement-modal-accept-button {
    background-color: #202F83;
    color: #ffffff;
}

.contacts .agreement-modal-footer .footer_scrolled_down .agreement-modal-decline-button {
    color: #202F83;
    border-width: 1px;
    border-color: #202F83;
}

.form-control {
    margin: 15px auto;
    height: 50px;
    background-color: #EDEFF7;
}

.contacts .comment .form-control {
    min-height: 100px;
}

.footer {
    background-color: #242e81;
}

.footer .rights-socials {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

@media (max-width: 700px) {
    .footer .rights-socials {
        flex-direction: column;
    }
}

.footer .rights {
    font-family: "Open Sans", serif;
    color: #919191;
    font-size: 12px;
    line-height: 19px;
    font-weight: 500;
    padding: 25px;
    text-align: center;
}

@media (max-width:1000px) {
    .footer .rights {
        margin: auto;
    }
}

.footer .socials {
    margin-left: auto;
    padding: 25px;
}

.footer .socials a svg {
    width: 40px;
    height: auto;
    border-radius: 50%;
    margin: 5px;
    margin-top: 20px;
    color: #202F83;
    transition: 0.3s;
}

.footer .socials a:hover svg {
    color: #ffffff;
}

.footer .socials a:hover svg .filler {
    fill: #000000;
}

@media (max-width: 700px) {
    .footer .socials {
        margin: auto;
        margin-top: -50px;
        margin-bottom: 40px;
    }
}

.contactModal-open-btn {
    position: fixed;
    bottom: 7%;
    right: 4%;
    border-width: 0px;
    background-color: rgba(255, 0, 0, 0);
}

.contactModal-open-btn img {
    border-radius: 50%;
    width: 50px;
}

.contactModal-open-btn .contact-button-first-img {
    position: relative;
    display: inline-block;
}
  
.contactModal-open-btn .contact-button-second-img {
    position: absolute;
    top: 1%;
    left: 9%;
}

@keyframes imageFade {
    0% { opacity: 1; background-image: url('../img/contacts-button1.png'); }
    40% { opacity: 1; }
    50% { opacity: 0; } /* Instant swap */
    100% { opacity: 0; }
}

.contactModal-open-btn .contact-button-second-img {
    animation: imageFade 4s infinite alternate; /* 10s duration, infinite loop, alternate direction */
}

#contactModal,
#cancellationModal {
    z-index: 1200;
}

.modal-backdrop {
    z-index: 1190;
}
#contactModal .modal-dialog,
#cancellationModal .modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 100%; /* or whatever width you need */
    height: 100dvh;
    margin: 0;
}


@media (max-width: 700px) {
    #contactModal .modal-dialog,
    #cancellationModal .modal-dialog {
        height: fit-content;
    }
}
#contactModal .modal-content,
#cancellationModal .modal-content {
    height: 100%;
    border-radius: 0;
    background-color: #0d195e;
    color: #ffffff;
}

@media (max-width: 700px) {
    #contactModal .modal-content,
    #cancellationModal .modal-content {
        border-radius: 2%;
        padding: 5% 0%;
    }
}
#contactModal .contactModal-exit-button,
#cancellationModal .cancellation-exit-button {
    position: fixed;
    width: 1px;
    height: 1px;
    background-color: #ffffff;
    border-width: 0px;
    border-radius: 50%;
    right: 4%;
    top: 0%;
    background-color: #0d195e;
}


@media (min-width:600px) and (max-width: 1100px) {
    #contactModal .contactModal-exit-button,
    #cancellationModal .cancellation-exit-button {
        right: 7%;
    }
}

@media (max-width: 550px) {
    #contactModal .contactModal-exit-button,
    #cancellationModal .cancellation-exit-button {
        right: 17%;
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}
#contactModal .contactModal-exit-button img,
#cancellationModal .cancellation-exit-button img {
    width: 60px;
    left: 90%;
    border-radius: 50%;
    animation-name: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
    opacity: 0.6;
}

@media (max-width: 1100px) {
    #contactModal .contactModal-exit-button img,
    #cancellationModal .cancellation-exit-button img {
        width: 70px;
    }
}

#contactModal .contactModal-exit-button img:hover,
#cancellationModal .cancellation-exit-button img:hover {
    opacity: 1;
    transition: 0.5s;
}

#contactModal .modal-body,
#cancellationModal .modal-body {
    padding: 0% 5%;
    height: 90vh;
}

#cancellationModal .modal-body .page_number img {
    width: 50px; 
    height: 50px; 
    float: left; 
    margin: 0% 0% 3% 0%;
}

#cancellationModal .modal-body .page_number p {
    font-size: 18px;
    font-weight: 600;
    float: left;
    margin: 2% 0% 0% 3%;
}

#contactModalLabel,
#cancellationModalLabel {
    line-height: 33px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Open Sans', serif;
    margin-top: 4%;
}

#contactModal .form-control,
#cancellationModal .form-control {
    background-color: #162264;
    border-color: #2b3672;
    border-width: 1px;
    color: #ffffff;
}

#contactModal .form-control:-webkit-autofill,
#cancellationModal .form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #a60000 inset !important;
    box-shadow: 0 0 0px 1000px #162264 inset !important;
    -webkit-text-fill-color: #ffffff !important; /* Optional: text color */
}

#contactModal .form-control,
#cancellationModal .form-control {
    transition: background-color ease-in-out 0s;
}

#contactModal .form-control:focus,
#cancellationModal .form-control:focus {
    box-shadow: none;
}

#contactModal .form-control::placeholder,
#cancellationModal .form-control::placeholder {
    color: #8b91b2;
}

#contactModal .contactModal-submit-btn {
    background-color: #ffffff;
    width: 100%;
    font-family: "Open Sans", serif;
    font-size: 15px;
    line-height: 35px;
    font-weight: 600;
    color: #0D195E;
    margin: 0%;

}

#contactModalLabel {
    line-height: 33px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Open Sans', serif;
    margin-top: 4%;
    text-align: center;
}

#contactModal form #comment {
    min-height: 100px;
}