/* headline start */



.headline {
    background-image: url('../img/making_documents-headline.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2% 0% 2%;
}

.headline-text {
    font-family: 'Open Sans', serif;
    border-left: solid;
    border-left-color: #242E81;
    border-left-width: 6px;
    color: white;
}

.headline-text h2 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 5%;
}

.headline-text h4 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 5%;
}

.headline-text p {
    font-size: 14px;
    line-height: 22.4px;
    margin: 5%;
}



/* headline end */



.services .service {
    text-align: center;
    padding: 3%;
    font-family: 'Open Sans', serif;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services .service h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    text-transform: uppercase;
    color: #0D195E;
}

.services .service h3 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    color: #0D195E;
}

.services .service p {
    font-size: 16px;
    line-height: 25px;
    color: #202F90;
}

.services .service a {
    background-color: #202F90;
    font-size: 15px;
    line-height: 21px;
    font-weight: 600;
    padding: 8px 20px;
    border-width: 0px;
    border-radius: 0%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.services .service a:hover {
    background-color: #4F60BF;
}

.work-stages {
    background-color: #14112C;
    color: #FFFFFF;
    font-family: 'Open Sans', serif;
    padding: 3% 10% 3% 10%;
}

.work-stages .moveleft {
    margin-left: 5%;
}

@media (max-width:1000px) {
    .work-stages .moveleft {
        margin-left: 7%;
    }
}

.work-stages .section-header h2 {
    text-transform: uppercase;
    font-size: 35px;
    margin: 0px 0px 7px;
    font-weight: 700;
    margin-bottom: 5%;
    text-align: center;
}

.work-stages .stage {
    padding-top: 3%;
    padding-bottom: 0.5%;
    position: relative;
    color: #CCCCC2;
    min-height: 140px;
    display: flex;
    flex-direction: row;
}

.work-stages .stage .stage-img {
    position: relative;
}

.work-stages .stage .stage-img img {
    border-radius: 50%;
    max-width: 90px;
}

.work-stages .stage .stage-img .first {
    position: relative;
    max-width: 85px;
}

.work-stages .stage .stage-img .second {
    position: absolute;
    opacity: 0;
    right: 0%;
    top: 0%;
}

.work-stages .stage:hover .stage-img .second {
    opacity: 1;
}

.work-stages .stage .stage-text {
    padding-left: 5%;
}

.work-stages .stage .stage-text h3 {
    font-size: 17.5px;
    line-height: 24.5px;
    text-transform: uppercase;
    font-weight: 400;
}

.work-stages .stage .stage-text p {
    font-size: 14px;
    line-height: 22.4px;
    font-weight: 400;
    vertical-align: text-top;
}