/* headline start */



.headline {
    background-image: url('../img/trademark-headline.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.headline h1 {
    text-align: center;
    padding: 10%;
    font-family: 'Open Sans', serif;
    font-size: 50px;
    line-height: 55px;
    font-weight: 700;
    color: white;
}

@media (max-width:1100px) {
    .headline h1 {
        font-size: 32px; 
    }
}



/* headline end */



.services .service-outside {
    margin: 2% 0%;
}

.services .service {
    background-color: #F7F7F7;
    text-align: center;
    font-family: 'Open Sans', serif;
    border-radius: 5px;
    padding: 5%;
}

.services .service h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    text-transform: uppercase;
    color: #0D195E;
}

.services .service h3 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    color: #0D195E;
}

.services .service p {
    font-size: 16px;
    line-height: 25px;
    color: #202F90;
}

.services .service a {
    background-color: #202F90;
    font-size: 15px;
    line-height: 21px;
    font-weight: 600;
    padding: 8px 20px;
    border-width: 0px;
    border-radius: 0%;
    margin: 5% 0% 5% 0%;
}

.services .service a:hover {
    background-color: #4F60BF;
}

.faq {
    font-family: 'Open Sans', serif;
    margin: 3%;
}

.faq .left-side-faq {
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq .left-side-faq h1 {
    font-family: "Open Sans", serif;
    color: #33428E;
    font-size: 50px;
    text-align: center;
}

.faq .accordion-header button {
    box-shadow: none;
}

.faq .right-side-faq .accordion-item {
    border-width: 0px;
}

.faq .right-side-faq button {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    text-transform: uppercase;
    color: #3949A0;
}

.faq .right-side-faq button:focus {
    box-shadow: none;
}

.faq .right-side-faq button:hover {
    box-shadow: none;
    color: #000000;
}

.faq .right-side-faq .accordion-body {
    color: #3A4AA1;
    font-size: 16px;
    line-height: 25px;
}
