/* headline start */



.headline {
    background-image: url('../img/main_page-headline.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
    text-rendering: optimizeLegibility;
    font-family: "Open Sans", serif;
}

.headline h1 {
    font-size: 50px;
    line-height: 55px;
    font-weight: 400;
    text-align: left;
    margin-top: 40px;
    margin-left: 10px;
    text-transform: uppercase;
}

@media (max-width: 1000px) {
    .headline h1 {
        font-size: 40px;
    }
}

.headline hr {
    border-color: white;
    border-width: 2px;
    opacity: 1;
}

.headline p {
    font-size: 36px;
    line-height: 40px;
    margin-top: 40px;
    margin-left: 10px;
    font-weight: 300;
    padding-top: 20px;
}

.headline .contact-buttons {
    text-align: end;
    margin-bottom: 15%;
    text-transform: uppercase;
}

@media (max-width: 1000px) {
    .headline .contact-buttons {
        text-align: center;
        margin-bottom: 75px;
    }
}

.headline .contact-buttons a {
    background-color: #3949A0;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 21px;
    font-weight: 600;
    margin: 0px 10px 10px 0px;
    padding: 8px 20px;
    border-width: 0px;
}

.headline .contact-buttons a:hover {
    background-color: #7481C8;
    color: #121518;
}



/* headline end */



/* about-us start */



.about-us {
    font-family: "Open Sans", serif;
    color: #202F83;
}

.about-us .section-header {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.5px;
    padding: 8px;
    font-weight: 600;
    text-shadow: 3px 3px 6px #c6c6c6;
    text-align: end;
}

@media (max-width:1000px) {
    .about-us .section-header {
        text-align: center;
    }
}

.about-us .item h6 {
    font-size: 14px;
    line-height: 21px;
    margin: 10px 0px 5px;
    font-weight: 700;
}

.about-us .item p {
    font-size: 13px;
    line-height: 22.4px;
    margin: 0px 0px 50px;
    font-weight: 400;
    width: 100%;
}



/* about-us end */



/* services start */



.services {
    color: #202F83;
    width: 75%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 25px;
}

.services .section-main-header h1 {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-shadow: 3px 5px 6px #c6c6c6;
    font-family: "Open Sans", serif;
    text-align: center;
    color: #33428E;
}

.services .section-part-header h2 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.5px;
    padding: 0px 15px;
    font-weight: 500;
    font-family: "Helvetica", Sans-Serif;
    margin: 25px;
    text-align: center;
    color: #33428E;
}

.services .service {
    height: 125px;
    border-radius: 25px;
    text-align: center;
    font-family: "Oswald", serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    word-wrap: break-word;
    position: relative;
    display: inline-block;
    margin: auto;
}

.services .service .first-img {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    padding-right: 25px;
}

.services .service .second-img {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s;
}

.services .service:hover .second-img {
    opacity: 1;
}

.services .service {
    color: #111111;
}

.services .service a {
    color: #33428E;
    text-decoration: none;
}

.services .service:hover a {
    color: #33428E;
    text-decoration: underline;
}



/* services end */



/* work-stages start */



.work-stages {
    background-color: #242e81;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: "Open Sans", serif;
    color: white;
}

.work-stages .text {
    padding-top: 50px;
}

.work-stages .section-header {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.5px;
    font-weight: 400;
    padding-left: 50px;
    text-shadow: 3px 8px 6px #2d2d2d7b;
}

@media (max-width: 1000px) {
    .work-stages .section-header  {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 0%;
    }
}

.work-stages .stage {
    display: flex;
    flex-direction: row;
}

.work-stages .stage img {
    float: left;
    width: 90px;
    height: auto;
    border-radius: 50%;
}

.work-stages .stage p {
    padding: 25px;
    font-size: 23px;
    line-height: 23px;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-align: left;
}

@media (max-width: 1000px) {
    .work-stages p {
        text-align: center;
        padding: 0%;
    }
}

.work-stages .phone-img img {
    display: block;
    margin: auto;
}

@media (max-width: 1000px) {
    .work-stages .phone-img img {
        margin-top: 10%;
    }
}



/* work-stages end */



/* pricing start */



.pricing {
    margin-top: 15px;
    margin-bottom: 50px;
    color: #202F83;
}

.pricing .section-header {
    font-family: "helvetica";
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-shadow: 3px 6px 6px #c6c6c6;
    text-align: center;
    text-transform: uppercase;
}

.pricing .item img {
    float: left;
    border-radius: 50%;
    width: 95px;
}

.pricing .item .item-header {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

@media (max-width: 1000px) {
    .pricing .item .item-header {
        flex-direction: column;
    }
}

.pricing .item .item-header h3 {
    font-family: "Open Sans", serif;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.5px;
    font-weight: 700;
    padding-left: 25px;
}

.pricing .item-header p {
    width: fit-content;
    margin-left: auto;
    margin-bottom: 6%;
}

@media (max-width:1000px) {
    .pricing .item-header p {
        margin-left: 25px;
    }
}

.pricing .item .item-header p {
    background-color: #202F83;
    font-family: "Open Sans", serif;
    padding-left: 25px;
    font-size: 13px;
    line-height: 20.8px;
    font-weight: 700;
    padding: 4px 12px;
    color: #FFFFFF;
    border-radius: 5%;  
    height: 30px;
    margin-top: 15px;
}

.pricing .item p {
    font-size: 14px;
    line-height: 22.4px;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-family: "Open Sans", serif;
    padding-left: 125px;
}



/* pricing end */



/* blue-line start */



.blue-line {
    padding-top: 10px;
    background-color: #242e81;
    color: white;
}

.blue-line .item {
    text-align: center;
}

.blue-line .item img {
    border-radius: 50%;
    width: 55px;
    height: auto;
}

.blue-line .item p {
    font-family: "Helvetica", Sans-Serif;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 10px;
}



/* blue-line end */
