{% load static %}
{% load honeypot %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Затопление квартиры</title>
    <link rel="icon" href="{% static 'main_page/img/favicon.png' %}" type="image/x-icon">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <link type="text/css" href="{% static 'main_page/css/main.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'main_page/css/flooding.css' %}" rel="stylesheet">
    <script src="{% static 'main_page/js/main.js' %}" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <base href="https://tverdoepravo.ru/">
</head>
<body>
    <div class="wrapper">

        

        <!-- topbar start -->



        <div class="topbar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 logo">
                        <a href="/" >
                            <img class="img" src="{% static 'main_page/img/topbar-logo.png' %}" alt="logo">
                        </a>
                    </div>
                    <div class="col-md-3 phone-and-email">
                        <a href="tel:{{ CONTACT_PHONE_NUMBER_FOR_CALLS }}">
                            <img src="{% static 'main_page/img/topbar-smartphone.svg' %}" alt="phone">
                            <p>ТЕЛЕФОН</p>
                            <p class="link">+7(931)277-</br>14-72</p>
                        </a>
                    </div>
                    <div class="col-md-3 phone-and-email email">
                        <a href="mailto:tverdoepravo@mail.ru">
                            <img src="{% static 'main_page/img/topbar-email.svg' %}" alt="mail">
                            <p class="mail">EMAIL</p>
                            <p class="link">tverdoepravo</br>@mail.ru</p>
                        </a>
                    </div>
                    <div class="col-md-3 socials">
                        <a href="{{ MAX_LINK }}" class="max-link">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 720 720">
                                <path fill="currentcolor" d="M350.4,9.6C141.8,20.5,4.1,184.1,12.8,390.4c3.8,90.3,40.1,168,48.7,253.7,2.2,22.2-4.2,49.6,21.4,59.3,31.5,11.9,79.8-8.1,106.2-26.4,9-6.1,17.6-13.2,24.2-22,27.3,18.1,53.2,35.6,85.7,43.4,143.1,34.3,299.9-44.2,369.6-170.3C799.6,291.2,622.5-4.6,350.4,9.6h0ZM269.4,504c-11.3,8.8-22.2,20.8-34.7,27.7-18.1,9.7-23.7-.4-30.5-16.4-21.4-50.9-24-137.6-11.5-190.9,16.8-72.5,72.9-136.3,150-143.1,78-6.9,150.4,32.7,183.1,104.2,72.4,159.1-112.9,316.2-256.4,218.6h0Z"/>
                            </svg>
                        </a>
                        <a href="https://t.me//{{ CONTACT_PHONE_NUMBER_FOR_WA_AND_TG }}">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="100%" viewBox="0 0 199 200" enable-background="new 0 0 199 200" xml:space="preserve">
                                <path class='filler' fill="currentcolor" opacity="1.000000" stroke="none" 
                                    d="
                                M89.000000,1.000000 
                                    C96.354256,1.000000 103.708504,1.000000 111.713112,1.353088 
                                    C154.553055,7.056205 187.840347,37.106327 197.550583,78.606735 
                                    C198.361481,82.072456 199.183273,85.535637 200.000000,89.000000 
                                    C200.000000,97.020897 200.000000,105.041801 199.650146,113.704132 
                                    C191.338898,158.576904 165.964905,186.904526 122.352898,198.548492 
                                    C118.927902,199.462906 115.452156,200.187302 112.000000,201.000000 
                                    C104.312424,201.000000 96.624847,201.000000 88.295837,200.650146 
                                    C43.415485,192.338531 15.095730,166.954025 3.435485,123.341820 
                                    C2.604319,120.233055 1.810945,117.114174 1.000000,114.000000 
                                    C1.000000,105.645767 1.000000,97.291534 1.349862,88.295868 
                                    C9.661099,43.423084 35.035118,15.095469 78.647110,3.451505 
                                    C82.072105,2.537065 85.547844,1.812701 89.000000,1.000000 
                                M79.955589,73.409477 
                                    C66.153000,84.694138 62.292233,101.813004 70.183456,116.739624 
                                    C77.725105,131.005005 94.629272,138.248627 110.085793,133.382919 
                                    C124.088638,128.974808 132.537430,119.265816 134.296341,104.644844 
                                    C135.952744,90.875862 130.643356,79.606880 118.962639,72.229996 
                                    C106.270821,64.214554 93.199951,64.722527 79.955589,73.409477 
                                z"/>
                                <path class='filler' fill="currentcolor" opacity="1.000000" stroke="none" 
                                    d="
                                M200.000000,88.531342 
                                    C199.183273,85.535637 198.361481,82.072456 197.550583,78.606735 
                                    C187.840347,37.106327 154.553055,7.056205 112.181732,1.353088 
                                    C141.260239,1.000000 170.520477,1.000000 200.000000,1.000000 
                                    C200.000000,30.020527 200.000000,59.041603 200.000000,88.531342 
                                z"/>
                                <path fill="#FDFEFE" opacity="1.000000" stroke="none" 
                                    d="
                                M88.531342,1.000000 
                                    C85.547844,1.812701 82.072105,2.537065 78.647110,3.451505 
                                    C35.035118,15.095469 9.661099,43.423084 1.349862,87.827209 
                                    C1.000000,59.072674 1.000000,30.145346 1.000000,1.000000 
                                    C30.020531,1.000000 59.041607,1.000000 88.531342,1.000000 
                                z"/>
                                <path class='filler' fill="currentcolor" opacity="1.000000" stroke="none" 
                                    d="
                                M112.468658,201.000000 
                                    C115.452156,200.187302 118.927902,199.462906 122.352898,198.548492 
                                    C165.964905,186.904526 191.338898,158.576904 199.650146,114.172791 
                                    C200.000000,142.927322 200.000000,171.854645 200.000000,201.000000 
                                    C170.979477,201.000000 141.958389,201.000000 112.468658,201.000000 
                                z"/>
                                <path class='filler' fill="currentcolor" opacity="1.000000" stroke="none" 
                                    d="
                                M1.000000,114.468658 
                                    C1.810945,117.114174 2.604319,120.233055 3.435485,123.341820 
                                    C15.095730,166.954025 43.415485,192.338531 87.827202,200.650146 
                                    C59.073097,201.000000 30.146193,201.000000 1.000000,201.000000 
                                    C1.000000,172.312805 1.000000,143.625061 1.000000,114.468658 
                                z"/>
                                <path fill="#ffffff" opacity="1.000000" stroke="none" 
                                    d="
                                M80.259186,73.212212 
                                    C93.199951,64.722527 106.270821,64.214554 118.962639,72.229996 
                                    C130.643356,79.606880 135.952744,90.875862 134.296341,104.644844 
                                    C132.537430,119.265816 124.088638,128.974808 110.085793,133.382919 
                                    C94.629272,138.248627 77.725105,131.005005 70.183456,116.739624 
                                    C62.292233,101.813004 66.153000,84.694138 80.259186,73.212212 
                                M97.905327,110.441261 
                                    C100.524414,112.214622 103.121071,114.022270 105.767761,115.753448 
                                    C109.913719,118.465294 111.287895,117.976944 112.135529,113.209511 
                                    C113.359306,106.326500 114.415627,99.412498 115.444206,92.496956 
                                    C115.669464,90.982491 115.477180,89.405914 115.477180,86.428345 
                                    C102.836639,91.740883 91.191742,96.634972 79.546837,101.529068 
                                    C85.046906,105.576683 89.759132,106.414391 94.711723,102.348152 
                                    C98.322586,99.383522 102.506104,97.116394 106.434326,94.538322 
                                    C106.689743,94.875412 106.945160,95.212502 107.200569,95.549599 
                                    C104.007820,98.785400 100.835884,102.042130 97.613312,105.247955 
                                    C96.063904,106.789299 94.694283,108.254417 97.905327,110.441261 
                                z"/>
                                <path class='filler' fill="currentcolor" opacity="1.000000" stroke="none" 
                                    d="
                                M97.591476,110.242889 
                                    C94.694283,108.254417 96.063904,106.789299 97.613312,105.247955 
                                    C100.835884,102.042130 104.007820,98.785400 107.200569,95.549599 
                                    C106.945160,95.212502 106.689743,94.875412 106.434326,94.538322 
                                    C102.506104,97.116394 98.322586,99.383522 94.711723,102.348152 
                                    C89.759132,106.414391 85.046906,105.576683 79.546837,101.529068 
                                    C91.191742,96.634972 102.836639,91.740883 115.477180,86.428345 
                                    C115.477180,89.405914 115.669464,90.982491 115.444206,92.496956 
                                    C114.415627,99.412498 113.359306,106.326500 112.135529,113.209511 
                                    C111.287895,117.976944 109.913719,118.465294 105.767761,115.753448 
                                    C103.121071,114.022270 100.524414,112.214622 97.591476,110.242889 
                                z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>



        <!-- topbar end -->


         
        <!-- navbar start -->



        <div class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link js-redirect-and-scroll" data-scroll-target="about-us">О НАС</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-redirect-and-scroll" data-scroll-target="services">НАШИ УСЛУГИ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-redirect-and-scroll" data-scroll-target="pricing">СТОИМОСТЬ УСЛУГ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll" data-scroll-target="contacts">КОНТАКТЫ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        


        <!-- navbar end -->



        <!-- headline start -->



        <div class="headline">
            <div class="container">
                <h1>Помощь юриста в спорах о заливе квартиры</h1>
            </div>
        </div>



        <!-- headline end -->

        

        <!--text start-->
        <div class="text">
            <div class="container textbox">
                <p>Проживание в многоквартирных домах имеет некоторые особенности и сопряжено с отдельными неудобствами. Тот или иной жилец со всех сторон окружен квартирами. Если в какой-то квартире что-то случится (потоп), это непременно отразится на соседях. Не надо объяснять, что подобная ситуация связана с порчей имущества и тратой большого количества нервов.
                    <br/><br/>Ситуация, когда квартиру затопили соседи, является самым распространенным происшествием, которое можно встретить в повседневной жизни.</p>

                <p style="text-align: center;"><span style="font-weight: 700;">Что предпринять в первую очередь в случае возникновения потопа?</span></p>
                
                <p>Прежде всего, надо позвонить в различные инстанции. <span style="text-decoration: underline;">Гражданин снимает телефонную трубку и звонит по следующим адресам:</span><br/><br/>
                    1. Жильцы квартиры, по чьей причине произошел потоп.<br/><br/>
                    2. Аварийная служба.<br/><br/>
                    Соседи могут просто не открыть дверь по причине их отсутствия. Тогда прибывшая аварийная бригада полностью перекроет стояк.<br/><br/>
                    3. Управляющая компания.<br/><br/>
                    Звонок в нее необходим для фиксации случившегося происшествия.
                </p>

                <p style="text-align: center;"><span style="font-weight: 700;">Дальнейший порядок действий<br/><br/></span></p>

                <p><span style="text-decoration: underline;">В случае возникновения потопа по вине соседей, жилец должен выполнить следующие действия:<br/><br/></span>
                    1. Мероприятия, исключающие замыкание электропроводки в квартире.<br/><br/>
                    Если в квартире с потолка начало капать, следует опасаться воздействия электричества. Не исключено, что вода попадет на участки электропроводки с отсутствием изоляции. Следует немедленно отключить все бытовые электроприборы. Это предупредит их выход из строя.<br/><br/>
                    2. Следует позвонить соседям.<br/><br/>
                    Им необходимо сообщить, что квартиру заливает, а они должны предпринять попытки к устранению протекания.<br/><br/>
                    <span style="color: #D32F2F;">Важно!</span> Если соседи не отвечают на звонки, дверь к ним ломать ни в коем случае нельзя. Даже благая цель спасения от потопа всего подъезда будет расценена, как незаконное проникновение в жилище. Подобные деяния преследуются по закону. В этом случае требуется вызвать аварийную бригаду.<br/><br/>
                    3. Оценка и документация причиненного ущерба.<br/><br/>
                    Для этого обращаются в Управляющую компанию. Существует конкретное Постановление Правительства, которое регламентирует порядок действий в таких ситуациях. После получения заявки представитель УК должен прибыть на место не позднее 12 часов. Представители оценят масштаб ущерба, заполнят все необходимые документы. Они будут выступать и в качестве свидетелей. <span style="text-decoration: underline;">Составляется акт, в котором находит свое отражение следующая информация:</span><br/><br/>
                    - В акт вносятся все данные представителей комиссии.<br/><br/>
                    - Указывается номер квартиры и все данные, относящиеся к ее собственнику.<br/><br/>
                    - Отражается объем имеющегося ущерба.<br/><br/>
                    - Указываются причины, по которым произошел потоп.<br/><br/>
                    - Если нарушены нормы проживания, то эта информация также отражается в акте.<br/><br/>
                    Акт составляется в присутствии собственника пострадавшей квартиры. С ним его следует ознакомить. При отсутствии виновного либо его отказе ставить свою подпись, информация об этом также вносится в акт. Составленный документ утверждается руководителем Управляющей компании.<br/><br/>
                    <span style="color: #D32F2F;">Важно!</span> Составлять акт необходимо, что называется, по горячим следам. Если пройдет какое-то время, виновник может скрыть следы протечки и настаивать на том, что он к ней не причастен. Например, обои от намокания могут отклеиться, а потом высохнуть. Будет достаточно трудно доказать, то они отклеились именно по причине намокания в результате возникшего затопления.<br/><br/>
                    На глазах у свидетелей можно сделать фото испорченной в результате потопа мебели, повреждений потолка, стен, напольного покрытия. Если в дальнейшем возникнет судебное разбирательство, все это будет служить доказательством причиненного ущерба.<br/><br/>
                    <span style="color: #D32F2F;">Оригинал акта необходимо сохранять вплоть до полного возмещения ущерба.</span>
                    Можно воспользоваться услугами специализированных оценочных компаний и провести <a href="../expertise/" style="text-decoration: none;">экспертизу</a>. Их сотрудники могут профессионально и точно оценить объем причиненного ущерба. <br/><br/>
                    4. Требование выплаты компенсации.<br/><br/>
                    Самым простым вариантом является попытка решить инцидент с соседями мирным путем. Вариантов мирного урегулирования конфликта существует достаточно много. Например, сосед за свой счет выполняет ремонтные работы. В случае непризнания своей вины и отказа выплаты компенсации, с исковым заявлением обращаются в судебную инстанцию.<br/><br/>

                    <p style="text-align: center;"><span style="font-weight: 700;">Порядок подачи искового заявления<br/><br/></span></p>

                    <p>Если потерпевший жилец решил прибегнуть к судебному обращению, ему потребуется собрать все необходимые документы. Например, придется представить копии документов о праве собственности на квартиру, акт лицензированной компании о размере причиненного ущерба, некоторые другие документы.<br/><br/>
                    Важно! Необходимо соблюдение сроков подачи заявления. Это можно сделать не позднее месяца со дня произошедшего инцидента.<br/><br/>
                    Пострадавший жилец квартиры должен обладать следующей информацией:<br/><br/>
                    Даже в случае проживания виновника в квартире по социальному найму, ему все равно придется отвечать. Он должен обеспечивать сохранность и ремонт в занимаемом помещении (п.3 ст. 67 Жилищного кодекса).<br/><br/>
                    Если у виновника отсутствуют средства на проведение ремонта, суд направит дело в ФССП. Они могут описать имущество, реализовать его с молотка, а деньги направить на возмещение ущерба.<br/><br/>
                    Виновник возмещает ущерб в полном объеме. Размер компенсации может быть различный и определяется степенью вины, обстоятельствами дела. После определения размера ущерба, виновник может обратиться за помощью к независимому эксперту.<br/><br/>
                    Потерпевший может претендовать и на возмещение морального вреда. Размер компенсации за моральный вред на законодательном уровне не определен и полностью зависит от решения судьи.<br/><br/>
                    Потоп может носить не только разовый, но и систематический характер. Если соседи сверху затапливают жильцов находящихся под ними квартир постоянно, то это может являться косвенным свидетельством несоблюдения ими правил проживания в многоквартирных домах. Иногда причиной постоянного затопления является проживание сверху неблагополучных семей.<br/><br/>
                    Единственный способ тогда состоит в обращении в суд. Судья может не только обязать соседей выплатить компенсацию, но принять решение об их выселении. Причиной выселения станет постоянное нарушение прав соседей.<br/><br/>
                    Может возникнуть такая ситуация, когда затапливают соседи сверху, арендующие квартиру. В этом случае виновник определяется условиями договора аренды. Если в договоре прописано, что на арендатора возложена полная ответственность за сохранность и содержание квартиры, то, значит, он и будет отвечать. Но если квартира сдается в аренду без договора, то вся ответственность полностью ложится на собственника. Именно он и будет в полном объеме возмещать ущерб.<br/><br/>
                    Но следует иметь в виду, что арендаторы не несут никакой ответственности за трубы, которые основательно прогнили. Обязанность собственника сдавать квартиру в аренду в надлежащем состоянии. Все коммуникации в ней должны быть исправны.<br/><br/>
                    Если вы точно хотите узнать, как действовать в Вашей ситуации, запишитесь на консультацию к юристу. Для записи звоните по телефону: +7(931)277-14-72 или заполните форму обратной связи на нашем сайте. Вы можете задать по телефону любые вопросы, которые вас интересуют. <span style="color: #D32F2F; font-weight: 700;">Первичная консультация бесплатна.<br/><br/></span>
                </p>
            </div>
        </div>
        <div class="below-text">
            <div class="container">
                <div class="row">
                    <div class="article col-lg-6 col-sm-6">
                        <a href="../expertise/">
                            <img src="{% static 'main_page/img/flooding1.jpg' %}">
                            <p>Подробнее об экспертизе после залития квартиры</p>
                            <p style="font-size: 14px; color: #3949A0;">Читать</p>
                        </a>
                    </div>
                    <div class="article col-lg-6 col-sm-6">
                        <a href="../pre-trial/">
                            <img src="{% static 'main_page/img/flooding2.jpg' %}">
                            <p>Досудебный порядок урегулирования споров</p>
                            <p style="font-size: 14px; color: #3949A0;">Читать</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--contacts start-->



        <div class="contacts" id="contacts">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left-side">
                        <div class="header">
                            <h3>Получите бесплатную<br> консультацию</h3>
                            <p><span class="bold">Заполните форму,</span> чтобы получить бесплатную консультацию</p>
                        </div>
                        <div class="row links">
                            <div class="col-md-6 phone">
                                <a href="tel:{{ CONTACT_PHONE_NUMBER_FOR_CALLS }}">
                                    <img src="{% static 'main_page/img/contacts-phone.svg' %}" alt="phone">
                                    <p>
                                        телефон<br>
                                        <span class="phone-and-email">+7(931)277-14-72</span>
                                    </p>
                                </a>
                            </div>
                            <div class="col-md-6 mail">
                                <a href="mailto:tverdoepravo@mail.ru">
                                    <img src="{% static 'main_page/img/contacts-mail.svg' %}" alt="mail">
                                    <p>
                                        EMAIL<br>
                                        <span class="phone-and-email">tverdoepravo<br>@mail.ru</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 right-side">
                        <h3>Обратная связь</h3>
                        <form action="../flooding/" method="post">
                            {% csrf_token %}
                            {{ contact_form.name }}
                            {{ contact_form.phone }}
                            {{ contact_form.comment }}
                            {% render_honeypot_field %}
                            <button type="button" class="show-agreementModal-btn" data-bs-toggle="modal" data-bs-target="#agreementModal">
                                <p>
                                    <input type="checkbox" id="js-contacts-checkbox" required="true">
                                    Нажимая кнопку «Получить консультацию», я даю свое согласие на обработку моих 
                                    персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ 
                                    «О персональных данных», на условиях и для целей, определенных в Согласии на обработку 
                                    персональных данных
                                </p>
                            </button>
                            <button type="submit" name="agreement_submit" class="submit">Получить консультацию</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <!-- contacts end -->



        <!-- footer start -->


        
        <div class="footer" id="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 rights-and-socials">
                        <div class="rights">
                            <p>
                                © 2022-2026 "Твердое право"<br>Метелица Артём Александрович<br>
                                Адрес: Латышских Стрелков, д. 17, к. 1<br>ИНН: 100399120058
                            </p>
                        </div>
                        <div class="socials">
                            <a href="{{ MAX_LINK }}" class="max-link">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 720 720">
                                    <path fill="white" d="M350.4,9.6C141.8,20.5,4.1,184.1,12.8,390.4c3.8,90.3,40.1,168,48.7,253.7,2.2,22.2-4.2,49.6,21.4,59.3,31.5,11.9,79.8-8.1,106.2-26.4,9-6.1,17.6-13.2,24.2-22,27.3,18.1,53.2,35.6,85.7,43.4,143.1,34.3,299.9-44.2,369.6-170.3C799.6,291.2,622.5-4.6,350.4,9.6h0ZM269.4,504c-11.3,8.8-22.2,20.8-34.7,27.7-18.1,9.7-23.7-.4-30.5-16.4-21.4-50.9-24-137.6-11.5-190.9,16.8-72.5,72.9-136.3,150-143.1,78-6.9,150.4,32.7,183.1,104.2,72.4,159.1-112.9,316.2-256.4,218.6h0Z"/>
                                </svg>
                            </a>
                            <a href="https://t.me//{{ CONTACT_PHONE_NUMBER_FOR_WA_AND_TG }}">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" 
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                width="100%" viewBox="0 0 199 200" enable-background="new 0 0 199 200" xml:space="preserve">
                                    <path class="filler" fill="#ffffff" opacity="1.000000" stroke="none" 
                                        d="
                                    M89.000000,1.000000 
                                        C96.354256,1.000000 103.708504,1.000000 111.713112,1.353088 
                                        C154.553055,7.056205 187.840347,37.106327 197.550583,78.606735 
                                        C198.361481,82.072456 199.183273,85.535637 200.000000,89.000000 
                                        C200.000000,97.020897 200.000000,105.041801 199.650146,113.704132 
                                        C191.338898,158.576904 165.964905,186.904526 122.352898,198.548492 
                                        C118.927902,199.462906 115.452156,200.187302 112.000000,201.000000 
                                        C104.312424,201.000000 96.624847,201.000000 88.295837,200.650146 
                                        C43.415485,192.338531 15.095730,166.954025 3.435485,123.341820 
                                        C2.604319,120.233055 1.810945,117.114174 1.000000,114.000000 
                                        C1.000000,105.645767 1.000000,97.291534 1.349862,88.295868 
                                        C9.661099,43.423084 35.035118,15.095469 78.647110,3.451505 
                                        C82.072105,2.537065 85.547844,1.812701 89.000000,1.000000 
                                    M79.955589,73.409477 
                                        C66.153000,84.694138 62.292233,101.813004 70.183456,116.739624 
                                        C77.725105,131.005005 94.629272,138.248627 110.085793,133.382919 
                                        C124.088638,128.974808 132.537430,119.265816 134.296341,104.644844 
                                        C135.952744,90.875862 130.643356,79.606880 118.962639,72.229996 
                                        C106.270821,64.214554 93.199951,64.722527 79.955589,73.409477 
                                    z"/>
                                    <path class="filler" fill="#ffffff" opacity="1.000000" stroke="none" 
                                        d="
                                    M200.000000,88.531342 
                                        C199.183273,85.535637 198.361481,82.072456 197.550583,78.606735 
                                        C187.840347,37.106327 154.553055,7.056205 112.181732,1.353088 
                                        C141.260239,1.000000 170.520477,1.000000 200.000000,1.000000 
                                        C200.000000,30.020527 200.000000,59.041603 200.000000,88.531342 
                                    z"/>
                                    <path class="filler" fill="#ffffff" opacity="1.000000" stroke="none" 
                                        d="
                                    M88.531342,1.000000 
                                        C85.547844,1.812701 82.072105,2.537065 78.647110,3.451505 
                                        C35.035118,15.095469 9.661099,43.423084 1.349862,87.827209 
                                        C1.000000,59.072674 1.000000,30.145346 1.000000,1.000000 
                                        C30.020531,1.000000 59.041607,1.000000 88.531342,1.000000 
                                    z"/>
                                    <path class="filler" fill="#ffffff" opacity="1.000000" stroke="none" 
                                        d="
                                    M112.468658,201.000000 
                                        C115.452156,200.187302 118.927902,199.462906 122.352898,198.548492 
                                        C165.964905,186.904526 191.338898,158.576904 199.650146,114.172791 
                                        C200.000000,142.927322 200.000000,171.854645 200.000000,201.000000 
                                        C170.979477,201.000000 141.958389,201.000000 112.468658,201.000000 
                                    z"/>
                                    <path class="filler" fill="#ffffff" opacity="1.000000" stroke="none" 
                                        d="
                                    M1.000000,114.468658 
                                        C1.810945,117.114174 2.604319,120.233055 3.435485,123.341820 
                                        C15.095730,166.954025 43.415485,192.338531 87.827202,200.650146 
                                        C59.073097,201.000000 30.146193,201.000000 1.000000,201.000000 
                                        C1.000000,172.312805 1.000000,143.625061 1.000000,114.468658 
                                    z"/>
                                    <path fill="currentcolor" opacity="1.000000" stroke="none" 
                                        d="
                                    M80.259186,73.212212 
                                        C93.199951,64.722527 106.270821,64.214554 118.962639,72.229996 
                                        C130.643356,79.606880 135.952744,90.875862 134.296341,104.644844 
                                        C132.537430,119.265816 124.088638,128.974808 110.085793,133.382919 
                                        C94.629272,138.248627 77.725105,131.005005 70.183456,116.739624 
                                        C62.292233,101.813004 66.153000,84.694138 80.259186,73.212212 
                                    M97.905327,110.441261 
                                        C100.524414,112.214622 103.121071,114.022270 105.767761,115.753448 
                                        C109.913719,118.465294 111.287895,117.976944 112.135529,113.209511 
                                        C113.359306,106.326500 114.415627,99.412498 115.444206,92.496956 
                                        C115.669464,90.982491 115.477180,89.405914 115.477180,86.428345 
                                        C102.836639,91.740883 91.191742,96.634972 79.546837,101.529068 
                                        C85.046906,105.576683 89.759132,106.414391 94.711723,102.348152 
                                        C98.322586,99.383522 102.506104,97.116394 106.434326,94.538322 
                                        C106.689743,94.875412 106.945160,95.212502 107.200569,95.549599 
                                        C104.007820,98.785400 100.835884,102.042130 97.613312,105.247955 
                                        C96.063904,106.789299 94.694283,108.254417 97.905327,110.441261 
                                    z"/>
                                    <path class="filler" fill="#ffffff" opacity="1.000000" stroke="none" 
                                        d="
                                    M97.591476,110.242889 
                                        C94.694283,108.254417 96.063904,106.789299 97.613312,105.247955 
                                        C100.835884,102.042130 104.007820,98.785400 107.200569,95.549599 
                                        C106.945160,95.212502 106.689743,94.875412 106.434326,94.538322 
                                        C102.506104,97.116394 98.322586,99.383522 94.711723,102.348152 
                                        C89.759132,106.414391 85.046906,105.576683 79.546837,101.529068 
                                        C91.191742,96.634972 102.836639,91.740883 115.477180,86.428345 
                                        C115.477180,89.405914 115.669464,90.982491 115.444206,92.496956 
                                        C114.415627,99.412498 113.359306,106.326500 112.135529,113.209511 
                                        C111.287895,117.976944 109.913719,118.465294 105.767761,115.753448 
                                        C103.121071,114.022270 100.524414,112.214622 97.591476,110.242889 
                                    z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>  
            </div>
        </div>

        <button type="button" class="contactModal-open-btn" data-bs-toggle="modal" data-bs-target="#contactModal">
            <img class="first-img" src="{% static 'main_page/img/contactModal-open-btn1.png' %}" alt="open-contacts-menu">
            <img class="second-img" src="{% static 'main_page/img/contactModal-open-btn2.png' %}" alt="open-contacts-menu">
        </button>

        <!-- footer end -->



        <!-- alert after data submission -->

        

        {% for message in messages %}
            <div class="alert alert-warning success-alert" id="success-alert" role="alert">
                <strong>Спасибо, ваши данные отправлены</strong>
            </div>
        {% endfor %}



    </div>



    <!-- contactModal start -->



    <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body">
                    <h1 id="contactModalLabel">Контактные данные</h1>
                    <hr>
                    <button type="button" class="contactModal-exit-button" id="js-contactModal-exit-button">
                        <img src="{% static 'main_page/img/exit.svg' %}" alt="exit-button">
                    </button>
                    <form method="POST">
                        {% csrf_token %}
                        {{ contact_form.name }} 
                        {{ contact_form.phone }}
                        {{ contact_form.comment }}
                        {% render_honeypot_field %}
                        <button type="button" class="open-agreementModal-btn" id="js-show-agreementModal-in-contactModal">
                            <span><input type="checkbox" id="js-contactModal-checkbox" required="true" style="pointer-events: none;"> Нажимая кнопку «Отправить», я даю свое 
                                согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ 
                                «О персональных данных», на условиях и для целей, определенных в Согласии на обработку персональных данных</span>
                        </button>
                        <button type="submit" class="btn contactModal-submit-btn">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- contactModal end -->



    <!-- agreementModal start -->



    <div class="modal fade" id="agreementModal" tabindex="-1" aria-labelledby="agreementModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="exit-button" id="js-agreementModal-exit-btn">
                        <img src="{% static 'main_page/img/exit.png' %}" alt="exit-button">
                    </button>
                    <h1 id="agreementModalLabel">Согласие на обработку<br> персональных данных</h1>
                    <hr>
                    <p class="modal-text">
                        Настоящим в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006 
                        года свободно, своей волей и в своем интересе выражаю свое безусловное согласие на обработку 
                        моих персональных данных Метелица Артём Александрович ИНН 100399120058, зарегистрированным в 
                        соответствии с законодательством РФ по адресу:<br>
                        г. Санкт-Петербург, ул. Латышских Стрелков, д. 17, корп. 1 (далее по тексту - Оператор).<br>
                        1. Согласие дается на обработку одной, нескольких или всех категорий персональных данных, 
                        не являющихся специальными или биометрическими, предоставляемых мною, которые могут включать:<br><br>
                        - Имя;<br>
                        - Телефон;<br>
                        - Комментарий.<br><br>
                        2. Оператор может совершать следующие действия: сбор; запись; систематизация; накопление; хранение; уточнение (обновление, изменение); извлечение; использование; блокирование; удаление; уничтожение.<br><br>
                        3. Способы обработки: как с использованием средств автоматизации, так и без их использования.<br><br>
                        4. Цель обработки: предоставление мне услуг/работ, включая, направление в мой адрес уведомлений, касающихся предоставляемых услуг/работ, подготовка и направление ответов на мои запросы, направление в мой адрес информации о мероприятиях/товарах/услугах/работах Оператора.<br><br>
                        5. В связи с тем, что Оператор может осуществлять обработку моих персональных данных посредством программы для ЭВМ «1С-Битрикс24», я даю свое согласие Оператору на осуществление соответствующего поручения ООО «1С-Битрикс», (ОГРН 5077746476209), зарегистрированному по адресу: 109544, г. Москва, б-р Энтузиастов, д. 2, эт.13, пом. 8-19.<br><br>
                        6. Настоящее согласие действует до момента его отзыва путем направления соответствующего уведомления на электронный адрес tverdoepravo@mail.ru или направления по адресу г. Санкт-Петербург, ул. Латышских Стрелков, д. 17, корп. 1.<br><br>
                        7. В случае отзыва мною согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без моего согласия при наличии оснований, предусмотренных Федеральным законом №152-ФЗ <span id="js-agreementModal-end">«О персональных данных» от 27.07.2006 г.</span>
                    </p>
                </div>
                <div class="modal-footer">
                    <div class="footer-scrolled-down" id="js-footer-scrolled-down">
                        <button type="button" class="btn agreementModal-accept-button" id="js-agreementModal-accept-button" data-bs-dismiss="modal">Принимаю</button>
                        <button type="button" class="btn agreementModal-decline-button" id="js-agreementModal-decline-button" data-bs-dismiss="modal">Не принимаю</button> 
                    </div>
                    <div class="footer-not-scrolled-down" id="js-footer-not-scrolled-down">
                        <a class="agreementModal-link" id="js-agreementModal-link">
                            <p>Прочитайте до конца</p>
                            <img src="{% static 'main_page/img/modal-footer.png' %}" alt="pointers">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- agreementModal end -->



</body>
</html>